<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${subject}"></title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div style="margin: 0 auto; max-width: 600px; padding: 20px; text-align: center;">
    <h1 style="text-align: center;">The Committed ToDo Team</h1>
    <div style="text-align: left;">
        <h2 th:text="${subject}" style="margin-top: 20px;">Subject goes here</h2>
        <p th:text="${message}" style="margin-top: 20px;">Message goes here</p><br>
    </div>
    <h3 th:text="${code}"></h3>
</div>
</body>
</html>
